::placeholder {
    color: rgb(148, 148, 148);
    font-family: 'Open Sans';
    font-size: 16px;
}

.form {
    color: rgb(148, 148, 148);   
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    padding: 2rem;
    font-family: 'Open Sans';
    font-weight: 300;
    box-sizing: border-box;
    background-color: rgba(20, 20, 22, 0.5);
    border: 1px solid rgb(189, 189, 189);
    box-shadow: 0 0 5px rgb(189, 189, 189);
    border-radius: 1.5rem;
}

.formLine {
    display: flex;
    justify-content:space-between;
    height: 4rem;
    margin-top: 2rem;
}

.formLine > input{
    height: 2.5rem;
    background-color: rgb(58, 58, 58);
    border: none;
    flex-grow: 1;
    color: white;
}

.formLine > label{
    min-width: 120px;
    border: 1px solid rgb(43, 43, 43);
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formLine > input[type=radio]{
    display: none;
}

.titleTypeGroup > label:nth-of-type(2){
    background-color: rgba(0, 182, 189, 0.5);
    color: white;
}

.titleTypeGroup > label:last-of-type{
    background-color:rgb(255, 80, 103, 0.5);
    border-radius: 0 .5rem .5rem 0;
    color: white;
}

.titleTypeGroup> input:nth-of-type(2):checked+label{
    background-color: rgb(0, 182, 189);
    border: 1px solid rgb(2, 214, 221);
}

.titleTypeGroup > input:nth-of-type(3):checked+label{
    background-color: rgb(255, 80, 103);
    border: 1px solid rgb(255, 109, 128);
}

.subtypeLine{
    margin: 0;
    display: flex;
    justify-content: left;
}


.formLine:last-of-type {
    display: flex;
    justify-content: right;
}

.formLine:first-of-type > :first-child,
.formLine:nth-of-type(2) > :first-child {
    border-radius: 1.5rem 0 0 1.5rem;
}

.formLine:first-of-type > :last-child,
.formLine:nth-of-type(2) > :last-child{
    border-radius: 0 1.5rem 1.5rem 0;
}

button {
    min-width: 10rem;
    height: 2.5rem;
    border-radius: 1rem;
    border: none;   
    background-color: rgb(58, 58, 58);
    border: 1px solid rgb(0, 182, 189);
    color: rgb(148, 148, 148);
    transition: background-color .3s ease-out, color .3s ease-out;
    box-shadow: 0 0 5px rgb(0, 182, 189);
}

.closeButton{
    margin-right: 1rem;
    
}

button:hover {
    background-color: white;
    color: rgb(0, 182, 189);
}


.dateInput {
    font-family: 'Open Sans';
    font-size: 16px;
}

@media (max-width: 1450px) {
    .form  {
        width: 70%;
    }
}

@media (max-width: 992px) {
    .form  {
        width: 85%;
    }
}

@media (max-width: 768px) {
    .form  {
        width: 90%;
    }
    .formLine > label{
        min-width: 100px;
    }
}

@media (max-width: 630px) {
    .form  {
        width: 95%;
    }
    .formLine > label{
        min-width: 90px;
    }
}